# <font color='green'>lambda, filter, map, reduce, zip, enumerate, & date </font>

### Data Science Compiled by :
                   Alem H Fitwi, 
                   PhD Student (Privacy, Deep Learning, Networking (Edge Computing), IoD, Surveillance Systems),
                   GA-Data Analyst,
                   Binghamton University-State University of New York
                   December, 2017

# <font color='blue'>1. lambda</font>

### <font color='green'>lambda </font> arguments: expression

Anonymous function means that a function is without a name. As we already know that def keyword is used to define the normal functions and the lambda keyword is used to create anonymous functions.

<ul>
<li>This function can have any number of arguments but only one expression, which is evaluated and returned.</li>
<li>One is free to use lambda functions wherever function objects are required. </li>
<li>You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.</li>
<li>It has various uses in particular fields of programming besides other types of expressions in functions. </li>
</ul>

## Difference between a normal def defined function and lambda function.

In [2]:
# Python code to illustrate cube of a number 
# showing difference between def() and lambda(). 
def cube(y): 
	return y*y*y; 

g = lambda x: x*x*x 
print(g(7)) 

print(cube(5))

343
125

<ul>
<li>Without using Lambda : Here, both of them returns the cube of a given number. But, while using def, we needed to define a function with a name cube and needed to pass a value to it. After execution, we also needed to return the result from where the function was called using the return keyword.</li>
<li>Using Lambda : Lambda definition does not include a “return” statement, it always contains an expression which is returned. We can also put a lambda definition anywhere a function is expected, and we don’t have to assign it to a variable at all. This is the simplicity of lambda functions. </li>
</ul>

### <font color='green'>Lambda functions can be used along with built-in functions like filter(), map() and reduce()</font>

## Use of lambda() with filter()

The filter() function in Python takes in a function and a list as arguments. This offers an elegant way to filter out all the elements of a sequence “sequence”, for which the function returns True. Here is a small program that returns the odd numbers from an input list:


<ul>
<li> Filter even, odd, ...,  numbers</li>
<li> Filter specific group from a list </li>
</ul>

In [3]:
# Python code to illustrate 
# filter() with lambda() 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

## Use of lambda() with map()
The map() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item. Example:

In [4]:
# Python code to illustrate 
# map() with lambda() 
# to get double of a list. 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [5]:
# Convert ASCII codes to English alphabets
smallLetters=[]
capitalLetters=[]
s1=[i for i in range(65,91,1)]
s2=[i for i in range(97,123,1)]
smallLetters=list(map(chr,s1))
print(''.join(smallLetters))
capitalLetters=list(map(chr,s2))
print(''.join(capitalLetters))

ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz

## Use of lambda() with reduce()
The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list. This is a part of functools module. Example:

In [6]:
# Python code to illustrate 
# reduce() with lambda() 
# to get sum of a list 
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
sum = reduce((lambda x, y: x + y), li) 
print (sum)

193

## Lambda with pandas

In [7]:
import pandas as pd
df=pd.read_csv('./0_datasets/aapl.csv')

In [8]:
fltr=['28-Jun-17','22-Jun-17','31-May-17']
df1=df[df.Date.apply(lambda x:x in fltr)==True]
df1

         Date    Open    High     Low   Close    Volume
6   28-Jun-17  144.49  146.11  143.16  145.83  22082432
10  22-Jun-17  145.77  146.70  145.12  145.63  19106294
26  31-May-17  153.97  154.17  152.38  152.76  24451164

In [9]:
df2=df[df.Date.apply(lambda x:x not in fltr)==True]
df2.head()

        Date    Open    High     Low   Close    Volume
0   7-Jul-17  142.90  144.75  142.90  144.18  19201712
1   6-Jul-17  143.02  143.50  142.41  142.73  24128782
2   5-Jul-17  143.69  144.79  142.72  144.09  21569557
3   3-Jul-17  144.88  145.30  143.10  143.50  14277848
4  30-Jun-17  144.45  144.96  143.78  144.02  23024107

In [10]:
check = lambda x : x > 140 and x < 145
df3=df[df['High'].apply(check)==True]
df3.head()

         Date    Open    High     Low   Close    Volume
0    7-Jul-17  142.90  144.75  142.90  144.18  19201712
1    6-Jul-17  143.02  143.50  142.41  142.73  24128782
2    5-Jul-17  143.69  144.79  142.72  144.09  21569557
4   30-Jun-17  144.45  144.96  143.78  144.02  23024107
14  16-Jun-17  143.78  144.50  142.20  142.27  50361093

# Lambda with conditional statements

### <font color='blue'>IF-ELSE</font>

lambda (arguments) : (Return Value if condition is True) if (condition) else (Return Value if condition is False)

In [11]:
test = lambda x : True if (x > 10 and x < 20) else False  #else must be there
 
# Check if given numbers are in range using lambda function
print(test(12))
print(test(3))
print(test(24))

True
False
False

### <font color='blue'>Creating conditional lambda function without if else</font>

In [12]:
# Lambda function to check if a given vaue is from 10 to 20.
check = lambda x : x > 10 and x < 20
# Check if given numbers are in range using lambda function
print(check(12))
print(check(3))
print(check(24))

True
False
False

### <font color='blue'>Using if, elif & else in a lambda function</font>

In [13]:
# Lambda function with if, elif & else i.e.
# If the given value is less than 10 then Multiplies it by 2
# else if it's between 10 to 20 the multiplies it by 3
# else returns the unmodified same value
converter = lambda x : x*2 if x < 10 else (x*3 if x < 20 else x)
print(converter(3))

6

In [14]:
print('*** Using if else in Lambda function ***')

# Lambda function to check if a given vaue is from 10 to 20.
test = lambda x : True if (x > 10 and x < 20) else False
# Check if given numbers are in range using lambda function
print(test(12))
print(test(3))
print(test(24))
print('*** Creating conditional lambda function without if else ***')

# Lambda function to check if a given vaue is from 10 to 20.
check = lambda x : x > 10 and x < 20
# Check if given numbers are in range using lambda function
print(check(12))
print(check(3))
print(check(24))
print('*** Using filter() function with a conditional lambda function (with if else) ***')

# List of numbers
listofNum = [1,3,33,12,34,56,11,19,21,34,15]
print('Original List : ', listofNum)
# Filter list of numbers by keeping numbers from 10 to 20 in the list only
listofNum = list(filter(lambda x : x > 10 and x < 20, listofNum))
print('Filtered List : ', listofNum)
print('*** Using if, elif & else in Lambda function ***')

# Lambda function with if, elif & else i.e.
# If the given value is less than 10 then Multiplies it by 2
# else if it's between 10 to 20 the multiplies it by 3
# else returns the unmodified same value
converter = lambda x : x*2 if x < 10 else (x*3 if x < 20 else x)
print('convert 5 to : ', converter(5))
print('convert 13 to : ', converter(13))
print('convert 23 to : ', converter(23))

*** Using if else in Lambda function ***
True
False
False
*** Creating conditional lambda function without if else ***
True
False
False
*** Using filter() function with a conditional lambda function (with if else) ***
Original List :  [1, 3, 33, 12, 34, 56, 11, 19, 21, 34, 15]
Filtered List :  [12, 11, 19, 15]
*** Using if, elif & else in Lambda function ***
convert 5 to :  10
convert 13 to :  39
convert 23 to :  23

In [15]:
### <font color='blue'>IF-ELSE</font>

# <font color='blue'>2. zip() in Python</font>

The purpose of zip() is to map the similar index of multiple containers so that they can be used just using as single entity.

<ul>
<li>Syntax : </li>
<li>zip(*iterators) </li>
<li>Parameters : </li>
<li>Python iterables or containers ( list, string etc )</li>
<li>Return Value : </li>
<li>Returns a single iterator object, having mapped values from all the </li>
<li>containers. </li>
</ul>

In [16]:
# Python code to demonstrate the working of 
# zip() 

# initializing lists 
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 

# using zip() to map values 
mapped = zip(name, roll_no, marks) 

# converting values to print as set 
mapped = set(mapped) 

# printing resultant values 
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : {('Shambhavi', 3, 60), ('Astha', 2, 70), ('Nikhil', 1, 50), ('Manjeet', 4, 40)}

## How to unzip?
Unzipping means converting the zipped values back to the individual self as they were. This is done with the help of “*” operator.

In [17]:
# Python code to demonstrate the working of 
# unzip 

# initializing lists 

name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 

# using zip() to map values 
mapped = zip(name, roll_no, marks) 

# converting values to print as list 
mapped = list(mapped) 

# printing resultant values 
print ("The zipped result is : ",end="") 
print (mapped) 

print("\n") 

# unzipping values 
namz, roll_noz, marksz = zip(*mapped) 

print ("The unzipped result: \n",end="") 

# printing initial lists 
print ("The name list is : ",end="") 
print (namz) 

print ("The roll_no list is : ",end="") 
print (roll_noz) 

print ("The marks list is : ",end="") 
print (marksz)

The zipped result is : [('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Astha', 2, 70)]


The unzipped result:
The name list is : ('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')
The roll_no list is : (4, 1, 3, 2)
The marks list is : (40, 50, 60, 70)

https://www.geeksforgeeks.org/create-pandas-dataframe-from-lists-using-zip/

# Create pandas dataframe from lists using zip
One of the way to create Pandas DataFrame is by using zip() function. 
You can use the lists to create lists of tuples and create a dictionary from it. Then, this dictionary can be used to construct a dataframe.
zip() function creates the objects and that can be used to produce single item at a time. This function can create pandans DataFrames by merging two lists.

Suppose there are two lists of student data, first list holds the name of student and second list holds the age of student. Then we can have,

In [18]:
# List1 
Name = ['tom', 'krish', 'nick', 'juli'] 

# List2 
Age = [25, 30, 26, 22]

Above two lists can be merged by using list(zip()) function. Now, create the pandas DataFrame by calling pd.DataFrame() function.

In [19]:
# Python program to demonstrate creating 
# pandas Datadaframe from lists using zip. 

import pandas as pd 

# List1 
Name = ['tom', 'krish', 'nick', 'juli'] 
# List2 
Age = [25, 30, 26, 22] 

# get the list of tuples from two lists. 
# and merge them by using zip(). 
list_of_tuples = list(zip(Name, Age)) 

# Assign data to tuples. 
list_of_tuples

[('tom', 25), ('krish', 30), ('nick', 26), ('juli', 22)]

In [20]:
# Converting lists of tuples into 
# pandas Dataframe. 
df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age']) 
# Print data. 
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [24]:
df.loc[Name]=='juli'

KeyError: "None of [Index(['tom', 'krish', 'nick', 'juli'], dtype='object')] are in the [index]"

# <font color='blue'>3. enumerate in Python</font>
### enumerate(iterable, start=0)

A lot of times when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmers’ task by providing a built-in function enumerate() for this task.

Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [1]:
# Python program to illustrate 
# enumerate function 
l1 = ["eat","sleep","repeat"] 
s1 = "geek"

# creating enumerate objects 
obj1 = enumerate(l1) 
obj2 = enumerate(s1) 

print("Return type:",type(obj1))
print(list(enumerate(l1)))

# changing start index to 2 from 0 
print(list(enumerate(s1,2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [3]:
list(enumerate(l1))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [6]:
list(enumerate(s1))

[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]

In [7]:
list(enumerate(s1,11)) # start indexing at 11

[(11, 'g'), (12, 'e'), (13, 'e'), (14, 'k')]

In [5]:
# Python program to illustrate 
# enumerate function in loops 
l1 = ["eat","sleep","repeat"] 

# printing the tuples in object directly 
for ele in enumerate(l1): 
	print(ele) 
print
# changing index and printing separately 
for count,ele in enumerate(l1,100): 
	print(count,ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat